//comment 

.comment {
	padding-bottom:20px;
}

.comment__title {
	&::after {
		content: "";

		width:160px;
		height:2px;

		position: absolute;
		top:14px;
		right:-176px;

		background-color: #68b738;
	}
}
