//gift.scss 


.gift {
	width:100%;
	min-height:288px;
	margin-top: 40px;
	margin-bottom:60px;

	background: url('../img/gift-photo-mobile.jpg') center no-repeat;
	background-size:cover;

	position:relative;
}

.gift__text {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;

	text-align: center;
	padding-top: 190px;
	&::before {
		content:'';

		width:55px;
		height:60px;

		position:absolute;
		top:70px;
		left:40%;

		background:url('../img/gift--before.png') center no-repeat;
	}
}