//more-product.scss

.more-product { 
	position:relative;
	margin-bottom: 60px;
}

.more-product__plus {
	width: 30px;
	height: 30px;

	position: absolute;
	top: -60px;
	left:45%;

	font-size: 0;
	background-color:#fff;
	border:0;
	cursor: pointer;
	&::after,
	&::before {
		content: "";

		position: absolute;
		top:50%;
		left:0;

		width: 30px;
		height:2px;

		background-color:#d3d3d3;
	}
	&::after {
		transform:rotate(90deg);
	}
}

.more-product__text {
	margin-top: 100px;
	text-align: center;

	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.more-product__small {
	text-align: center;

	font-family: Arial, sans-serif;
	font-size: 12px;
	color:#444444;

	margin-bottom: 20px;
}

.more-product__btn {
	width:100%;

	background-color: #fff;
	border:none;

	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;

	color:#444444;
	cursor: pointer;
}