//program-selection

.program-selection {
	font-family: inherit;
}

.program-selection__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 60px;

	padding: 0;
	margin: 0;
	margin-bottom:30px;
}

.program-selection__text {
	text-transform: uppercase;
	margin-bottom:40px;
}
