*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  background-color: #fff; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 320px;
  margin: 0 auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (min-width: 768px) {
  .container {
    max-width: 708px; } }

@media (min-width: 1300px) {
  body {
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-position: top right; }
  .container {
    max-width: 1220px; } }

.page-header {
  min-height: 66px;
  padding: 10px 0 0 0; }

.page-header__nav {
  position: relative; }

.page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.page-header__logo {
  width: 191;
  height: 38px; }

.page-header__nav-item {
  font: inherit;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }

.page-header__nav-item--active {
  opacity: 0.5; }

@media (max-width: 767px) {
  .page-header__toggle {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 0;
    border: none;
    width: 25px;
    height: 25px;
    background-color: #fff;
    outline: none; }
  .page-header__nav-list {
    height: 0;
    opacity: 0;
    transition: height .5s, opacity .2s; }
  .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }
  .page-header__nav--opened .page-header__nav-list {
    height: 180px;
    opacity: 1;
    transition: height .5s, opacity 1s; }
  .page-header__nav--opened .page-header__toggle::before, .page-header__nav--opened .page-header__toggle::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #000; }
  .page-header__nav--opened .page-header__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: none; }
  .page-header__nav--opened .page-header__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }
  .page-header__nav--nojs .page-header__nav-list {
    display: block; }
  .page-header__nav--nojs .page-header__toggle {
    display: none; } }

@media (min-width: 768px) {
  .page-header {
    width: 100%;
    min-height: 100px;
    padding: 20px 0; }
  .page-header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .page-header__toggle {
    display: none; }
  .page-header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .page-header__logo img {
    width: 173px;
    height: 58px; }
  .page-header__logo {
    margin-top: 5px;
    margin-right: auto;
    transition: all .5s ease; }
    .page-header__logo:hover {
      transition: all .5s ease;
      opacity: .6; }
  .page-header__nav-item {
    width: auto;
    font-size: 18px;
    font-weight: 400; }
    .page-header__nav-item:not(:first-child) {
      margin-left: 35px; }
    .page-header__nav-item:hover {
      opacity: .6; }
    .page-header__nav-item:active {
      opacity: .3; }
  .page-header__nav-item--active {
    opacity: 1;
    position: relative; }
    .page-header__nav-item--active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 14px;
      left: 0;
      height: 2px;
      background-color: #68b738; }
    .page-header__nav-item--active:hover, .page-header__nav-item--active :active {
      opacity: 1; } }

@media (min-width: 1300px) {
  .page-header__nav-item {
    color: #fff;
    font-weight: 400; }
  .page-header__nav-item--active::after {
    background-color: #fff; } }

.intro {
  background-image: url("../img/intro-bg-image.png");
  background-position: center top;
  background-size: 320px 305px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; }

.intro__title {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  vertical-align: center;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 15px; }

.intro__slogan {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px; }

.intro__feed-image {
  text-align: center; }

.button {
  width: 100%;
  min-height: 40px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  line-height: 39px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  background-color: #68b738;
  border: none; }

@media (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    background-image: none;
    color: #000; }
  .intro__title {
    color: #000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-left: 80px;
    margin-bottom: 10px;
    order: 1; }
  .intro__slogan {
    color: #000;
    text-align: left;
    font-size: 20px;
    line-height: 21px;
    margin-left: 80px;
    margin-bottom: 50px;
    order: 2; }
  .intro__feed-image {
    display: block;
    width: 709px;
    height: 609px;
    margin-top: -60px;
    order: 4; }
  .intro__program-btn {
    order: 3;
    width: 250px;
    min-height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-left: 80px;
    z-index: 1; }
    .intro__program-btn:hover {
      background-color: #5eaa2f; }
    .intro__program-btn:active {
      color: #8fc46e; } }

@media (min-width: 1300px) {
  .intro__title {
    margin-top: 85px; }
  .intro__feed-image {
    display: block;
    width: 552px;
    height: 499px;
    margin-top: 0;
    position: absolute;
    top: 140px;
    right: 355px; }
  .intro__program-btn {
    margin-bottom: 300px; } }

.feed-programs {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 55px; }

.feed-programs__wrapper {
  display: flex;
  flex-wrap: wrap; }

.feed-programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px; }

.feed-programs__text {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #444444; }

.feed-programs__line {
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  opacity: 0.2; }

.feed-programs__to-catalog {
  display: block;
  width: 135px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-right: 35px;
  margin-bottom: 50px;
  position: relative; }
  .feed-programs__to-catalog::after {
    content: '';
    width: 33px;
    height: 11px;
    position: absolute;
    top: 3px;
    right: 0;
    background-image: url("../img/right-arrow-verylong.svg");
    background-position: -9px 0;
    background-size: 33px 11px;
    background-repeat: no-repeat;
    transition: background-position .3s ease; }

@media (min-width: 768px) {
  .feed-programs {
    width: 100%; }
  .feed-programs__wrapper {
    position: relative; }
  .feed-programs__title {
    font-size: 36px;
    padding: 0; }
  .feed-programs__line {
    display: none; }
  .feed-programs__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 370px;
    margin-bottom: 60px; }
  .feed-programs__image {
    display: block;
    position: absolute;
    top: 0;
    right: 0; }
  .panther-align {
    right: -25px; }
  .feed-programs__to-catalog {
    width: 160px;
    margin-bottom: 150px;
    font-size: 20px;
    line-height: 20px; }
    .feed-programs__to-catalog::after {
      top: 5px; }
    .feed-programs__to-catalog:hover::after {
      transition: background-position .3s ease;
      background-position: 0 0; }
    .feed-programs__to-catalog:active {
      opacity: 0.3; } }

@media (min-width: 1300px) {
  .feed-programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .feed-programs__title {
    margin-left: 40px;
    padding-top: 30px; }
  .feed-programs__text {
    max-width: 490px;
    margin-top: 40px;
    margin-bottom: 40px; }
  .feed-programs__image {
    position: static; } }

.how-it-works {
  margin-bottom: 50px; }

.how-it-works__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

.how-it-works__list {
  margin: 0;
  padding: 0; }

.how-it-works__item {
  display: flex; }

.how-it-works__item-image {
  margin-right: 20px;
  margin-bottom: 20px; }

.how-it-works__item-text {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #444444;
  margin: 0; }

@media (min-width: 768px) {
  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 75px; }
  .how-it-works__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .how-it-works__item {
    flex-direction: column;
    width: 50%; }
  .how-it-works__item img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px; }
  .how-it-works__item-text {
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 140px; } }

@media (min-width: 1300px) {
  .how-it-works__item {
    width: auto; } }

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  margin-top: -20px;
  margin-bottom: 30px; }

.example__text {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #444444;
  margin: 0; }

.example__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.example__table-item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.example__table-text {
  display: block;
  min-width: 120px;
  min-height: 55px;
  border: 1.5px solid #cdcdcd;
  border-radius: 4px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px; }

.example__table-mark {
  display: block;
  max-width: 90px;
  background-color: #fff;
  text-align: center;
  padding: 0 15px;
  margin-top: -40px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444; }

.example__food-costs {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px; }
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px; }
  .example__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .example__table {
    justify-content: flex-start;
    margin-bottom: 70px; }
  .example__table-item {
    margin-right: 40px; }
  .example__table-text {
    min-width: 172px;
    min-height: 70px;
    font-size: 30px;
    line-height: 60px; }
  .example__table-mark {
    max-width: 150px;
    font-size: 14px;
    line-height: 14px;
    padding: 2px 10px; }
  .example__food-costs {
    width: 180px;
    font-size: 20px;
    line-height: 33px;
    margin: 24px auto;
    margin-bottom: 60px;
    padding-top: 15px; } }

@media (min-width: 1300px) {
  .example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .example__wrapper {
    flex-direction: column; }
  .example__table {
    margin-bottom: 25px; }
  .example__title {
    margin-bottom: 150px; }
  .example__text {
    width: 440px;
    margin-bottom: 50px; }
  .example__food-costs {
    width: auto;
    text-align: left; } }

.slider {
  max-width: 280px;
  margin: 0 auto; }

.slider__control {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px; }

.slider__button {
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 0; }

@media (max-width: 766px) {
  .slider__indicator {
    width: 90px;
    height: 15px;
    padding: 3px 5px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    display: flex; }
  .slider__switch {
    display: block;
    width: 50%;
    height: 7px;
    background-color: #68b738;
    border: 1px solid #68b738;
    border-radius: 7px; }
  .slider__range {
    display: none; }
  .slider__image {
    width: 100%;
    height: 300px;
    display: none; }
  .slider__image--before {
    background-image: url("../img/before-desktop.png");
    background-position: -25px 0;
    background-size: cover; }
  .slider__image--after {
    background-image: url("../img/after-desktop.png");
    background-size: cover; }
  @-webkit-keyframes show {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes show {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  .slider__item--active {
    display: block;
    -webkit-animation: show;
            animation: show;
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }
  .to-right {
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-transform: translate3d(40px, 0px, 0px);
            transform: translate3d(40px, 0px, 0px); }
  .to-left {
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease; } }

@media (min-width: 768px) {
  .slider {
    position: relative;
    max-width: none;
    margin: 0;
    margin-top: -45px; }
  .slider__item {
    width: 620px;
    height: 500px;
    position: relative;
    display: flex;
    margin: 0 auto; }
  .slider__image {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; }
  .slider__image--before {
    background-image: url("../img/before-desktop.png");
    background-position: -41px 0;
    background-size: 677px 499px;
    left: 0; }
  .slider__image--after {
    background-image: url("../img/after-desktop.png");
    background-position: 59px 0;
    background-size: 545px 517px;
    right: 0;
    left: auto;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1); }
  .slider__range {
    -webkit-appearance: none;
    width: 430px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin: 7px 20px 0 20px;
    outline: none; }
    .slider__range:active {
      outline: none; }
    .slider__range::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 35px;
      height: 35px;
      border: 12px solid #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
      background-color: #68b738; }
      .slider__range::-webkit-slider-thumb:active {
        box-shadow: 0px 0px 5px 3px #68b738;
        transition: box-shadow .1s ease; }
  .slider__switch {
    display: none; }
  .slider__button {
    border-bottom: 1px dotted #b8b8b8;
    padding: 0;
    padding-bottom: 5px; } }

#map {
  width: 100%;
  height: 450px; }

.cooperation__wrapper {
  display: flex;
  justify-content: space-between; }

.cooperation__invite {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; }

.cooperation__address {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial,sans-serif;
  font-weight: 400;
  color: #444444; }

@media (min-width: 768px) {
  .cooperation__invite {
    font-size: 20px;
    line-height: 25px; }
  .cooperation__address {
    font-size: 16px;
    margin-bottom: 50px; } }

@media (min-width: 1300px) {
  .cooperation {
    position: relative; }
  .cooperation__wrapper {
    width: 570px;
    min-height: 201px;
    background-color: #fff;
    padding: 60px 60px;
    position: absolute;
    top: 111px;
    left: 110px;
    z-index: 1000;
    box-shadow: 0 0 10px .5px #7c7c7c; }
  .cooperation__address {
    margin-bottom: 0; } }

.footer-bottom {
  display: flex;
  flex-direction: column; }

.footer-bottom__logo-name {
  width: 128px;
  height: 24px;
  align-self: center;
  margin-top: 30px; }
  .footer-bottom__logo-name:hover {
    opacity: .8; }
  .footer-bottom__logo-name:active {
    opacity: .6; }

.footer-bottom__social {
  width: 280px;
  min-height: 66px;
  border: 1px solid #cdcdcd;
  margin: 30px auto;
  padding: 20px 27%; }

.footer-bottom__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-bottom__social-item {
  list-style: none; }

.footer-bottom__social-link svg {
  fill: #6b6b6b; }
  .footer-bottom__social-link svg:hover {
    fill: #68b738; }
  .footer-bottom__social-link svg:active {
    opacity: .3; }

.footer-bottom__social-link--vkontakte svg {
  width: 22px;
  height: 12px; }

.footer-bottom__social-link--instagram svg {
  width: 16px;
  height: 16px; }

.footer-bottom__social-link--facebook svg {
  width: 10px;
  height: 19px; }

.footer-bottom__copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.footer-bottom__copyright-text {
  font-size: 16px;
  font-family: Arial,sans-serif;
  color: #444444;
  font-weight: 400; }

.footer-bottom__copyright-link {
  margin-top: 10px; }
  .footer-bottom__copyright-link:hover {
    fill: #68b738; }
  .footer-bottom__copyright-link:active {
    opacity: .3; }
  .footer-bottom__copyright-link svg {
    width: 27px;
    height: 34px; }

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    align-items: center; }
  .footer-bottom__logo-name {
    margin-top: -4px; }
  .footer-bottom__social {
    width: 320px;
    padding: 20px 100px;
    border: none; }
  .footer-bottom__social-list {
    margin: 0 auto; }
  .footer-bottom__social-link--vkontakte svg {
    width: 30px;
    height: 16px; }
  .footer-bottom__social-link--instagram svg {
    width: 23px;
    height: 23px; }
  .footer-bottom__social-link--facebook svg {
    width: 14px;
    height: 28px; }
  .footer-bottom__copyright-text {
    margin-right: 25px; } }

.catalog {
  font-family: inherit; }

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

.catalog__list {
  margin: 0;
  padding: 0; }

.catalog__item {
  list-style: none;
  margin-bottom: 50px; }

.catalog__wrapper {
  display: flex;
  flex-direction: row; }

.catalog__wrapper div {
  width: 100%; }

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100px; }

.catalog__table {
  padding: 0;
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.catalog__table tbody {
  width: 100%; }

.catalog__table-item {
  display: flex;
  justify-content: space-between; }

.catalog__button {
  font-family: Oswald, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; }

@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 100px; }
  .catalog__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .catalog__item {
    width: 45%;
    margin-right: auto; }
  .catalog__wrapper {
    flex-direction: column; }
  .catalog__wrapper div {
    margin: 0 auto; }
  .catalog__item-title {
    font-size: 20px;
    text-align: center;
    width: 150px; } }

.more-product {
  position: relative;
  margin-bottom: 60px; }

.more-product__plus {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -60px;
  left: 45%;
  font-size: 0;
  background-color: #fff;
  border: 0;
  cursor: pointer; }
  .more-product__plus::after, .more-product__plus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3; }
  .more-product__plus::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.more-product__text {
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

.more-product__small {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #444444;
  margin-bottom: 20px; }

.more-product__btn {
  width: 100%;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  color: #444444;
  cursor: pointer; }

.additional__title {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 40px;
  border-bottom: 1px solid #cdcdcd;
  position: relative; }
  .additional__title::after {
    content: "";
    width: 53px;
    height: 3px;
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #68b738; }

.additional__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.additional__item {
  padding-bottom: 15px;
  border-bottom: 1px solid #cdcdcd; }

.additional__item-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase; }

.additional__table {
  width: 100%;
  font-family: Arial, sans-serif;
  color: #444444;
  margin-bottom: 15px; }

.additional__table-item {
  text-align: right; }

.additional__btn {
  font-family: inherit;
  font-size: 16px; }

.gift {
  width: 100%;
  min-height: 288px;
  margin-top: 40px;
  margin-bottom: 60px;
  background: url("../img/gift-photo-mobile.jpg") center no-repeat;
  background-size: cover;
  position: relative; }

.gift__text {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 190px; }
  .gift__text::before {
    content: '';
    width: 55px;
    height: 60px;
    position: absolute;
    top: 70px;
    left: 40%;
    background: url("../img/gift--before.png") center no-repeat; }

.form {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px; }

.form__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase; }

.form__btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px; }

.form__mark {
  font-family: Arial,sans-serif;
  font-size: 14px;
  color: #444444;
  text-align: center;
  display: block;
  padding-bottom: 50px; }

.program-selection {
  font-family: inherit; }

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px; }

.program-selection__text {
  text-transform: uppercase;
  margin-bottom: 40px; }

.general-info__label {
  padding-bottom: 40px; }

.input-text {
  padding: 5px 5px;
  border: 1px solid rgba(68, 68, 68, 0.4);
  border-opacity: 0.2; }
  .input-text:focus {
    outline: 1px solid blue; }

.input-text[placeholder] {
  text-transform: uppercase;
  font-family: inherit;
  opacity: 0.5; }
  .input-text[placeholder]:focus {
    opacity: 1;
    transition: opacity 0.8s ease; }

.general-info__name-area {
  width: 238px; }

.general-info__weight-area {
  width: 216px; }

.general-info__age-area {
  width: 183px; }

.toggle-set {
  padding-bottom: 50px; }

.toggle-set__item {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer; }

.toggle-set__item:focus {
  color: #663d15; }

.toggle-set__item input[type="radio"] + .toggle-set__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%; }

.toggle-set__item input[type="radio"]:checked + .toggle-set__radio::before, .toggle-set__item input[type="radio"]:checked + .toggle-set__radio::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738; }

.contacts {
  padding-bottom: 20px; }

.form-title {
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  font-weight: 400;
  position: relative;
  margin-bottom: 30px; }

.contacts__title::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  top: 14px;
  right: -116px;
  background-color: #68b738; }

.contacts__label {
  padding-bottom: 25px;
  position: relative; }

.form-email::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/form-mail.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px; }

.form-phone::after {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/form-phone.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 8px; }

.contacts__email-area {
  width: 226px; }

.contacts__phone-area {
  width: 209px; }

.comment {
  padding-bottom: 20px; }

.comment__title::after {
  content: "";
  width: 160px;
  height: 2px;
  position: absolute;
  top: 14px;
  right: -176px;
  background-color: #68b738; }

.form-additional {
  padding-bottom: 30px; }

.form-additional__title::after {
  content: "";
  width: 140px;
  height: 3px;
  position: absolute;
  top: 14px;
  right: -156px;
  background-color: #68b738; }

.form-additional__item {
  position: relative;
  line-height: 30px;
  padding-left: 40px;
  margin-bottom: 15px; }

.form-additional__item input[type="checkbox"] + .form-additional__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd; }

.form-additional__item input[type="checkbox"]:checked + .form-additional__checkbox::before, .form-additional__item input[type="checkbox"]:checked + .form-additional__checkbox::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #68b738; }

.form-additional__item input[type="checkbox"]:checked + .form-additional__checkbox::before {
  width: 10px;
  top: 16px;
  left: 4px;
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg); }

.form-additional__item input[type="checkbox"]:checked + .form-additional__checkbox::after {
  width: 20px;
  top: 12px;
  left: 8px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg); }
